<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="/stylesheet/home.css">
  <body>
    <nav>
      <div class="logo">JK PostHub</div>

      <div class="nav-btn">
        <a href="/login">
          <button class="login">Login</button>
        </a>

        <a href="/form">
          <button class="register">Create Account</button>
        </a>
      </div>
    </nav>

    <section class="hero">
      <h1>Share Your Thoughts</h1>

      <p>Create posts, share ideas and connect with people.</p>

      <div class="buttons">
        <a href="/login">
          <button class="create">Create Post</button>
        </a>

        <a href="/posts">
          <button class="explore">Explore Posts</button>
        </a>
      </div>
    </section>

    <section class="features">
      <div class="card">
        <h3>✍ Create Posts</h3>
        <p>Write and publish your thoughts instantly.</p>
      </div>

      <div class="card">
        <h3>🌎 Share Ideas</h3>
        <p>Connect and share knowledge with others.</p>
      </div>

      <div class="card">
        <h3>💬 Engage</h3>
        <p>Like, comment and interact with posts.</p>
      </div>
    </section>
  </body>
</html>
